<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Watchlist</title>
  <link rel="favicon" href="../static/favicon.ico">
  <link rel="stylesheet" href="../static/style.css">
  {% endblock %}
</head>

<body>
  <h2>
    <img class="avatar" src="../static/images/avatar.png" alt="">
    {{ user.name }}'s Watchlist
  </h2>

  <nav>
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
    </ul>
  </nav>
  {% block content %}{% endblock %}

  <footer>
    <small>&copy; 2018 <a href="http://helloflask.com/book/3">HelloFlask</a></small>
  </footer>
</body>

</html>